.navbar {
    background-color: lightcyan;

    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: white;
        
    
    width: 100%;
    height: 50px;

    font-family: Arial, 'Times New Roman';
}

.navbar-button, .navbar-button-first {
    background-color: skyblue;
    box-sizing: border-box;
    border-left:  2px solid;
    border-right: 2px solid;
    border-color: lightcyan;

    font-family: Arial, 'Times New Roman';
    font-size: 2em;
    color: white;
    text-align: center;

    position: relative;

    width: 50%;
    line-height: 50px;

    float: left;

    transition: background-color linear 200ms;
}

.navbar-button-first {
    margin-left: 0%;
}


.navbar-button:hover {
    background-color: lightblue;
    transition: background-color linear 200ms;
}

.navbar-button-span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}