html {
    width: 100%;
    height: 100%;

    font-family: 'Muli', 'Arial', 'Times New Roman';
}

body {
    width:100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
        
    margin: 0;

    background-image: linear-gradient(to bottom right, cyan, purple);
}

.overlay {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;    
}

.page-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    
    padding: 0.8em;
    box-sizing: border-box;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    overflow: auto;
    padding: 1.5em 2em;
    box-sizing: border-box;
    background: white;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* --- Navigation bar styling --- */
.navbar {
    width: 100%;
    height: 3em;    
    
    background-color: mediumslateblue;
}

.navbar-padding {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 0.5em;
}

.navbar-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.25em;
    color: white;
    text-shadow: -1px -1px 5px darkcyan;
    transition: background-color linear 150ms;
}

.navbar-button:hover {
    background-color: slateblue;
    transition: background-color linear 150ms;
}

.navbar-button-span {
    width: 100%;
    height: 100%;

    position: absolute;
    
    top: 0;
    left: 0;
    z-index: 1;
}

@media only screen and (max-width: 400px) {
    .content-container {
        padding: 1em 1em;
    }
}