@import "navbar.css";

.project-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.project-item, .project-item-selected {
    width: 100%;
    transition: border-color linear 150ms;
    border: solid 0.5px;
}

.project-item {    
    border-color: white;
}

.project-item-selected {    
    border-color: turquoise;
}

.project-item:hover {
    border-color: turquoise;
}

.project-header, .project-header-selected {    
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: background-color linear 150ms;    
    display: flex;
    flex-direction: row;
    user-select: none;
}

.project-header:hover {
    background-color: turquoise;
    transition: background-color linear 150ms;
}

.project-header {
    background-color: white;
}

.project-header-selected {
    background-color: paleturquoise;
}

.project-header > .project-header-arrow {
    transition: transform linear 200ms;
}

.project-header-selected > .project-header-arrow {
    transform: rotate(90deg);
    transition: transform linear 200ms;
}

.project-desc, .project-desc-selected {
    padding-left: 1em;
    padding-right: 1em;    
    overflow: hidden;
}

.project-desc {
    max-height: 0;
    transition: max-height 320ms ease-out;
}

.project-desc-selected {
    max-height: 400px;    
    transition: max-height 320ms ease-in;    
}

.project-desc-padded {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.project-button {
    appearance: button;
    text-decoration: none;
    color: black;
    background-color: paleturquoise;
    padding: 0.7em;
    user-select: none;
}

.project-button:hover {
    background-color: turquoise;
    transition: background-color linear 150ms;
}